body {
  background-color: #C0DEFF;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ADA2FF;
}

.project {
  background-color: #ADA2FF;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #ADA2FF;
}

footer a {
  text-decoration: none;
}
